extends ../layout.pug 
block content 
    .container 
        <form action="" class="">
            <div class="input-group flex-nowrap py-3">
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="email" class="form-control" placeholder="Email" name="email" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap py-3">
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="password" class="form-control" placeholder="Mot de passe"  name="password"  aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap py-3">
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="text" class="form-control" placeholder="Monsieur" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap py-3">
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap py-3">
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap py-3">
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">S'inscrire</button>
            </div>
        </form>