doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
       h1 bienvenue 
       block content 
       footer 
         p super immo

  script(src=process.env.BROWSER_REFRESH_URL)       